@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");
@import url("./_mixins.scss");
@import url("../_colors.scss");
.verde-1 {
  background-color: #003D33;
}

.verde-2 {
  background-color: #004D40;
}

.verde-3 {
  background-color: #00695C;
}

.verde-4 {
  background-color: #479949;
}

.gris-1 {
  background-color: #c7c7c767;
}

.blanco-1 {
  background: #ffffff;
}

/**UTILIDADES**/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Now 10px = 1rem! */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/cruce_de_inundacion_2.png");
  background-size: cover;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  /* px fallback */
  font-size: 1.8rem;
  /* default font-size for document */
  line-height: 1.5;
  /* a nice line-height */
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

img {
  max-width: 100%;
}

nav {
  background-color: #003D33;
}

nav ul a {
  font-size: 1.8rem;
}

/*----------------------------- SIDEBAR ----------------------------*/
.sideBar {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 999;
  max-width: 100%;
  background-color: #05241E;
  color: #fff;
  transition: left 400ms ease-in-out;
}

@media (min-width: 768px) {
  .sideBar {
    width: 60%;
  }
}
.sideBar-header {
  padding: 5rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  background-color: #003D33;
}

.sideBar-img {
  flex-basis: calc(33.3% - 1rem);
}

.sideBar-img img {
  max-width: 100%;
  border-radius: 100%;
}

.sideBar-info {
  flex-basis: calc( 66.6% - 1rem);
  text-align: justify;
}

.sideBar-info h2 {
  text-align: center;
}

.sidebar-body-ul {
  /* background-color: coral; */
  margin: 0;
  padding: 0 0.2rem;
}

.sidebar-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  /* border: 1px solid red; */
  margin: 1rem 0;
  padding: 1rem;
}

.sidebar-link:hover {
  border-radius: 2rem;
  background-color: #083d33;
  border: 1px solid #cccbcb;
}

.active {
  left: 0;
}

.body__portada {
  color: #fff;
}

.header__portada--container {
  padding: 0 2rem;
}

.header__portada {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__portada {
  background-image: url();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.card__portada {
  background-color: #003D33;
  border-radius: 2rem;
  width: 70%;
  height: 40vh;
  text-align: center;
}

.footer__portada {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background-color: #003D33;
}

.footer__portada--logos {
  display: flex;
  justify-content: space-evenly;
}

.footer__portada__logo--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__portada__info--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.boton__portada {
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.boton {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 1.5rem;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.89);
  transition: transform 400ms ease-in-out, background-color 400ms ease-in-out;
}

.boton:hover {
  cursor: pointer;
  background-color: #003d33ad;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .boton {
    display: inline-block;
  }
}
.boton-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.boton--primario {
  background-color: var(--negro);
}

.boton--secundario {
  background-color: var(--primario);
}

.go-up {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.go-up a > img {
  animation: pulse 2s infinite;
  padding: 1.5rem;
  background-color: #004a9e;
  border-radius: 100%;
}

.go-up a > img:hover {
  background-color: #002957dc;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 8px #004a9e;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px #00007100;
  }
  100% {
    transform: scale(1);
  }
}
/* --------------------HEADER------------------------ */
.header-container {
  background-color: #003D33;
  color: #ffffff;
  padding: 0 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .header-container {
    padding: 0 3rem;
  }
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.header-nav-logo {
  flex: 0 0 calc(40% - 1rem);
}

@media (min-width: 768px) {
  .header-nav-logo {
    flex: 0 0 calc(8% - 1rem);
  }
}
.container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container__div__card {
    display: grid;
    grid-template-columns: 1.2fr 3fr 0.8fr;
    justify-content: space-between;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/cruce_de_inundacion_2.png");
    background-size: cover;
  }
}
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  border-radius: 1.5rem;
  margin-top: 2rem;
}

.main-section:last-of-type {
  margin-bottom: 3rem;
}

.main-section-img {
  display: flex;
  justify-content: center;
  flex: 0 0 calc(29% - 1rem);
}

.main-section-info {
  flex: 0 0 calc(70% - 1rem);
}

.main-card {
  margin: 2rem auto;
  background-color: #004D40;
  width: 90%;
  border: 1px solid #c7c7c767;
  border-radius: 2.8rem;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.89);
}

.main-card-body {
  padding: 1rem;
}

.main-card img {
  margin: 0.3rem;
  border-radius: 2.8rem;
  max-width: 100%;
}

.main-card-img-container {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.main-container-boton {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.main-card-img-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 768px) {
  .main-card {
    width: 80%;
  }

  .main-container-boton {
    width: 80%;
  }
}
.main-card-info {
  padding: 0 1rem;
  color: #ffffff;
  line-height: 1;
  text-align: center;
}

.main-card-info p {
  line-height: 0.2;
}

/*# sourceMappingURL=main.css.map */
