/** Globales **/
.contenedor-testimonio {
  margin: 2rem auto;
  background-color: #004d40;
  width: 90%;
  border: 1px solid #c7c7c767;
  border-radius: 2.8rem;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.89);
  padding: 2rem auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
  color: #ffffff;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
.img-testimonio {
  /* max-width: 100%; */
  padding: 0 1rem;
  object-fit: cover;
  max-width: 100%;
  height: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
    .img-testimonio {
        max-width: 100%; 
        padding: 0 1rem;
        height: 100%;
    }
    
}
/** Utilidades **/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}


/** Cursos **/
.curso {
  display: grid;
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
  transition: all 0.3s ease-in-out;

}
.curso__informacion{
    padding:0 1rem !important;
}
.curso__descripcion {
    color: #ffffff;
  }
@media (min-width: 768px) {
  .curso {
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }

  .curso:hover {
    transform: scale(1.05);
    background-color: #0514071c;
    padding: 3rem;
  }
  .curso__descripcion {
    color: #ffffff;
  }
}



.curso__imagen {
  /* object-fit: cover;
  display: flex;
  justify-content: center; */
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.curso:last-of-type {
  border: none;
}
.curso__label {
  font-family: var(--fuenteHeading);
  font-weight: bold;
  color: #ffffff;
}
.curso__info {
  font-weight: normal;
}
.curso__label,
.curso__info {
  font-size: calc(.7em + 1vw);
  /* font-size: 2rem; */
}