@import url('../_colors.scss');
.boton {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 1.5rem;
    width: 90%;
    -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.89);
    // transicion
    transition: transform 400ms ease-in-out, background-color 400ms ease-in-out;
}

.boton:hover {
    cursor: pointer;
    // efectos 
    background-color: #003d33ad;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
}

.go-up {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.go-up a>img {
    animation: pulse 2s infinite;
    padding: 1.5rem;
    background-color: #004a9e;
    border-radius: 100%;
}

.go-up a>img:hover {
    background-color: #002957dc;
}

@keyframes pulse {
    0% {
        transform: scale(0.7);
        box-shadow: 0 0 0 8px #004a9e;
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px #00007100;
    }
    100% {
        transform: scale(1);
    }
}