.main-card {
    margin: 2rem auto;
    background-color: #004D40;
    width: 90%;
    
    border: 1px solid #c7c7c767;
    border-radius: 2.8rem;
    -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.89);
}

.main-card-body {
    padding: 0;
}

.main-card img {
    border-radius: 2.8rem;
    max-width: 100%;
}

.main-card-img-container {
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: space-evenly;
}

//no se usa main-container-btn
.main-container-boton {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.main-card-img-container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 768px) {
    .main-card {
        width: 80%;
    }
    .main-container-boton {
        width: 80%;
    }
}

.main-card-info {
    padding: 0 1rem !important;
    color: #ffffff;
    line-height: 1;
    text-align: center;
}

.main-card-info p {
    line-height: 0.2;
}